body[style*="-moz-fixed"],
body[style*="-moz-fixed"] pre {
	white-space: -moz-pre-wrap;
}
body[style*="width"] pre {
	width: inherit;
}

body[style*="-moz-fixed"] pre pre,
body[style*="-moz-fixed"] pre[class="messagetypeswitcher-generated"] {
	margin: 0;
}
