body[messagetypeswitcher-plaintext-body="true"],
body[messagetypeswitcher-plaintext-body="true"] pre {
	white-space: -moz-pre-wrap;
}

body[messagetypeswitcher-plaintext-body="true"] pre:not([class="moz-signature"]) {
	width: inherit;
	margin: 0;
}
